---
import type { GetStaticPaths, Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import { BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.astro";

export const getStaticPaths: GetStaticPaths = async ({paginate}) => {
    const allPosts = (await getCollection('blog'))
    .filter(post => !post.data.draft)
    .sort((a, b) => {
        const aPub = a.data.pubDate.getTime();
        const bPub = b.data.pubDate.getTime();
        const aEdt = a.data.updatedDate?.getTime() ?? 0;
        const bEdt = b.data.updatedDate?.getTime() ?? 0;
        return Math.max(bEdt, bPub) - Math.max(aPub, aEdt);
    });
        
    const tags = [...new Set(allPosts.flatMap(post => post.data.tags))];
    return tags.map(tag => {
        const posts = allPosts.filter(post => post.data.tags.indexOf(tag) >= 0)
        return paginate(posts, {
            pageSize: BLOG_PAGE_SIZE, 
            params: { tag }, 
        });
    })
};

interface Props {
    tag: string,
    page: Page,
}

const { page } = Astro.props;
const posts: CollectionEntry<'blog'>[] = page.data;
const { tag } = Astro.params;

const rainbowColors = ["#078D70","#26CEAA","#98E8C1","white","#7BADE2","#5049CC","#3D1A78"]
const bowrainColors = [...rainbowColors].reverse();
---

<Layout title={`Posts with tag '${tag}'`}>
    <main>
        <div class="heroContainer">
            <h1>{page.total} posts tagged with tag "{tag}"</h1>
            <p><a href="/tags">&laquo; Check all tags</a></p>
        </div>
        <div class="rainbowAnchor">
            <div class="listing">
                <PostListing baseUrl={`/tags/${tag}`} {posts} lastPage={page.lastPage} />
            </div>
            <div class="rainbow">
                <div class="rainbow-side">
                    {rainbowColors.map((strip) => (
                        <div class="strip" style={`background: ${strip}`}/>
                    ))}
                </div>
                <div class="rainbow-end">
                    <div class="rainbow-corner">
                        {rainbowColors.map((strip, i) => (
                            <div class="rainbow-round" style={`background: ${strip}; --radius: calc(64px - ${i} * (64px / 7))`}/>
                        ))}
                    </div>
                    <div class="rainbow-horizontal">
                        {bowrainColors.map((strip) => (
                            <div class="strip" style={`background: ${strip}`}/>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style is:inline>
    .nav {
        margin-top: 100px!important;
    }
</style>

<style lang="scss">
    @use "../../../styles/util.scss";

    .heroContainer {
        display: block;
        width: fit-content;
        position: relative;
        margin: 1rem auto;
        border: 4px solid var(--emphasis-color);
        background-color: var(--article-color);
        box-shadow: util.extrude(12);
        z-index: 2;
        padding: 0.5rem 1rem;
        p {
            font-size: 14pt;
        }
    }
    .rainbowAnchor {
        position: relative;
        overflow: hidden;
        top: -5px;
        .listing {
            position: relative;
            width: 80%;
            max-width: 1000px;
            margin: 0 auto;
            z-index: 1;
        }
    }
    .rainbow {
        position: absolute;
        left: calc(50% - 24px);
        top: -4rem;
        width: calc(100% + 64px);
        height: calc(100% - 16px);
        overflow-x: hidden;
        pointer-events: none;
        .rainbow-side {
            display: flex;
            width: 64px;
            height: calc(100% - 64px);
        }
        .strip {
            width: 100%;
            height: 100%;
        }
        .rainbow-end {
            position: absolute;
            bottom: 0;
            height: 64px;
            width: 120vw;
            display: flex;
            align-items: flex-start;
        }
        .rainbow-corner {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }
        .rainbow-round {
            position: absolute;
            right: 0;
            width: var(--radius, 64px);
            height: var(--radius, 64px);
            border-bottom-left-radius: 100%;
        }
        .rainbow-horizontal {
            width: 100vw;
            height: 64px;
            display: flex;
            flex-direction: column;
        }
    }
</style>