---
import { CollectionEntry, getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";

import { getHeroImages } from '@lib/util';
import { CategoryId, categories, BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.svelte";
import CategoryHero from "@lib/components/CategoryHero.svelte";

import "@lib/styles/rainbow.scss";

export const getStaticPaths: GetStaticPaths = async ({paginate}) => {
    const ids = Object.keys(categories) as CategoryId[];
    const allPosts = await getCollection('blog');
    return ids.map((catId) => {
        const category = categories[catId];
        const posts = allPosts
            .filter(post => post.data.category === catId && (import.meta.env.DEV || !post.data.draft))
            .sort((a, b) => {
                const aPub = a.data.pubDate.getTime();
                const bPub = b.data.pubDate.getTime();
                const aEdt = a.data.updatedDate?.getTime() ?? 0;
                const bEdt = b.data.updatedDate?.getTime() ?? 0;
                return Math.max(bEdt, bPub) - Math.max(aPub, aEdt);
            });
        return paginate(posts, {
            pageSize: BLOG_PAGE_SIZE, 
            params: { category: catId }, 
            props: { category }
        });
    });
}

interface Props {
    category: Category,
    page: Page
}

const { category, page } = Astro.props;
const posts = page.data;
const { category: categoryId } = Astro.params;

const rainbowColors = ["#078D70","#26CEAA","#98E8C1","white","#7BADE2","#5049CC","#3D1A78"]
const bowrainColors = [...rainbowColors].reverse();

const heroImages = await getHeroImages(posts);

---

<Layout title={`${category.title} posts`} description={category.description} keywords={["blog", "navigation", "category", "yonic corner", ...(categoryId? [categoryId] : [])]} coverImage={`${Astro.url.protocol}//${Astro.url.host}/img/seo/${categoryId}.png`}>
    <main class="main-container">
        <CategoryHero categoryId={categoryId ?? ""} {category} />
        <div class="rainbowAnchor">
            <div class="listing">
                <PostListing baseUrl={`/category/${categoryId ?? "misc"}`} {posts} lastPage={page.lastPage} {heroImages}/>
            </div>
            <div class="rainbow">
                <div class="rainbow-side">
                    {rainbowColors.map((strip) => (
                        <div class="strip" style={`background: ${strip}`}/>
                    ))}
                </div>
                <div class="rainbow-end">
                    <div class="rainbow-corner">
                        {rainbowColors.map(_ => (
                            <div class="rainbow-round" />
                        ))}
                    </div>
                    <div class="rainbow-horizontal">
                        {bowrainColors.map((strip) => (
                            <div class="strip" style={`background: ${strip}`}/>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style is:inline>
    .nav {
        margin-top: 100px!important;
    }
</style>