---
import Layout from '@lib/layouts/Layout.astro';
import ProfileIcon from "@lib/components/ProfileIcon.astro";

const websiteText = "The Yonic Corner";
const blurb = "Welcome to your just around the corner blog."
---

<Layout title={`Welcome to ${websiteText}`}>
	<main>
		<ProfileIcon />
		<h1>Welcome to &nbsp;
			<div class="bungee-container">
				{websiteText.split("").map((char, i) => {
					if(char === " ")
						return <span class="bungee" style={`--i: ${i}`} translate="no">&nbsp;</span>
					return <span class="bungee" style={`--i: ${i}`} translate="no">{char}</span>
				})}
				<div class="bungee-shadow">
					{websiteText.split("").map((char, i) => {
						if(char === " ")
							return <span style={`--i: ${i}`} translate="no">&nbsp;</span>
						return <span style={`--i: ${i}`} translate="no">{char}</span>
					})}
				</div>
			</div>
		</h1>
		<div class="raised" style="max-width: 600px; width:75vw;">
			<p>{blurb}</p>
			<p>
				To start, you can explore all the blog's <b><a href="/blog">Posts</a></b>.<br/>
				You can also exploring all <b><a href="/series">Series</a></b> in this blog,
				or you can earch them by topics with <b><a href="/tags">Tags</a></b>.
			</p>
		</div>
		<noscript>
			<div class="raised info">
				This blog works without JavaScript! Enjoy browsing without bloat!
			</div>
		</noscript>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		text-align: center;
		height: calc(100vh - 110px);
		padding: 1.5rem;
		overflow-y: auto;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		user-select: none;
	}
	.bungee-container {
		position: relative;
		z-index: 0;
		.bungee {
			display: inline-block;
			font-family: Bungee, Arial, Helvetica, sans-serif;
			color: var(--emphasis-color);
			-webkit-text-stroke: 2px black;
			animation: logo 2s ease-in-out infinite;
			animation-delay: calc(.1s * var(--i));
			text-shadow: 2px 2px 0px black, 4px 4px 0px black;
			z-index: 1;
		}
		.bungee-shadow {
			position: absolute;
			display: block;
			width: 100%;
			font-family: Bungee, Arial, Helvetica, sans-serif;
			opacity: 1;
			top: 4px;
			left: 4px;
			z-index: -1;
			span {
				animation: shadow 2s ease-in-out infinite;
				animation-delay: calc(.1s * var(--i));
			}
		}
	}
	.raised {
		background-color: var(--article-color);
		border: solid var(--emphasis-color);
		border-width: 2px 8px 8px 2px;
		padding: 1rem;
		text-align: justify;
		p:first-of-type {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}

		&.info {
			background-color: silver;
			border-color: darkslategray;
		}
	}

	@keyframes logo {
		0%, 100% {
			color: #0b396d;
			transform: translate(0px, 0px);
		}
		25%, 75% {
			color: #21dfe6;
		}
		50% {
			color: #c0ffdc;
			transform: translate(-15px, -15px);
		}
	}

	@keyframes shadow {
		0%, 100% {
			opacity: 1;
			filter: blur(0px);
		}
		50% {
			opacity: 0.5;
			filter: blur(3px);
		}
	}
</style>
