---
    import type { CollectionEntry } from "astro:content";

    export interface Props {
        prev?: CollectionEntry<"blog">,
        next?: CollectionEntry<"blog">,
        series?: string,
    }

    const { prev, next, series = "All posts"} = Astro.props
---

<div class="navigator">
    <div>
        {
            prev &&
            <a href={`/blog/${prev.slug}`}>
                PREV
                <br/>
                {prev.data.title}
            </a>
        }
    </div>
    <div class="series">{series}</div>
    <div>
        {
            next &&
            <a href={`/blog/${next.slug}`}>
                NEXT
                <br/>
                {next.data.title}
            </a>
        }
    </div>
</div>

<style lang="scss">
    .navigator {
        display: flex;
        width: 80%;
        max-width: 600px;
        justify-content: center;
        align-items: stretch;
        border: 1px solid black;
        margin: 0 auto;
        margin-bottom: 2rem;
        div {
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            width: 40%;
            a {
                width: 100%;
            }
        }
        .series {
            width: 20%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: solid black;
            border-width: 0 1px 0 1px;
        }
    }
</style>