---
    import type { CollectionEntry } from "astro:content";

    export interface Props {
        prev?: CollectionEntry<"blog">,
        next?: CollectionEntry<"blog">,
        series?: string,
        seriesUrl?: string,
        category?: Category
    }

    const { prev, next, series = "All posts", seriesUrl="/blog", category } = Astro.props
---

<div class="navigator" style={category? `--border-color: ${category.emphasisColor}; --nav-color-dark: ${category.baseColor}`: undefined}>
    <div>
        {
            prev &&
            <a href={`/blog/article/${prev.slug}`}>
                <b>&larr; PREV</b>
                <br/>
                {prev.data.title}{prev.data.draft && <sup>[draft]</sup>}
            </a>
        }
    </div>
    <div class="series"><a href={seriesUrl}>{series}</a></div>
    <div style="text-align: right">
        {
            next &&
            <a href={`/blog/article/${next.slug}`}>
                <b>NEXT &rarr;</b>
                <br/>
                {next.data.title}{next.data.draft && <sup>[draft]</sup>}
            </a>
        }
    </div>
</div>

<style lang="scss">
    
</style>