---
const {id, title, description, instance, duration} = Astro.props;

interface Props {
    id: string;
    title?: string;
    description?: string;
    instance: string;
    duration?: `${number}:${number}`;
}

const INVIDIOUS_DEFAULT_INSTANCE = "https://inv.tux.pizza";
---

<iframe title="Video player" src={`${instance ?? INVIDIOUS_DEFAULT_INSTANCE}/embed/${id}`}/>
<div class="videoCaption">
    <p><b><u>{title ?? "Untitled video"}</u></b> {duration && <span>({duration})</span>}</p>
    <p>{description && <i class="biyonic-string">{description}</i>}</p>
</div>

<style lang="scss">
    @use "../styles/util.scss";

    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border: inherit;
        border-width: 2px;
        box-shadow: util.extrude(8);
    }
    b {
        margin-bottom: 1em;
    }
</style>