---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import type { GetImageResult } from "astro";

import Layout from "@lib/layouts/Layout.astro";

import Buttoner from "@lib/components/BrowseButtons.astro";

import "@lib/styles/series.scss";

const series = await getCollection("series");

const description = "Ever had problems trying to locate the next part of a post? In my blog, I've implemented a way to group all posts in Series that tell a whole story so you can read it more conveniently."

---

<Layout title="Series" {description} coverImage={`${Astro.url.protocol}//${Astro.url.host}/img/seo/series.png`} keywords={["blog","navigation","search","sequence","article","series"]}>
    <main class="index-series">
        <Buttoner sites={{tags: "Tags", series: "Series", archive: "Archive"}} />
        <div class="hero">
            <h1>Series</h1>
            <p>{description}</p>
        </div>
        <ul class="grid">
            {
                series.map(async ({id, data}) => {
                    let coverImage: GetImageResult | undefined;
                    try {
                        const src = data.hero?.modern ?? (await import(`../../../assets/series/${id}.png`)).default;
                        coverImage = await getImage({src, width: 400});
                    } catch (e) {
                        if(e instanceof Error) {
                            if(e.message.includes("Unknown variable dynamic import"))
                                console.info(`[i] Series with ID ${id} does not have a cover in the assets/series folder.\nMake sure it is properly named as ${id}.png or define a hero set in the series JSON.`);
                            else
                                console.error(e.message);
                        }
                        coverImage = undefined;
                    } finally {
                        return (
                            <li>
                                <a href={`/browse/series/${id}`}>
                                    <img alt="Cover" src={coverImage?.src ?? "/img/series-hero.svg"} height="200"/>
                                    <h3>{data.title}</h3>
                                    <p>{data.description}</p>
                                </a>
                            </li>
                        )
                    }
                })
            }
        </ul>
    </main>
</Layout>

<style lang="scss">
    @use "../../../styles/util.scss";

    main {
        min-height: calc(100vh - 110px - 114px);
        padding: 1em 0;
        .hero {
            background-color: var(--article-color);
            border: 4px solid var(--emphasis-color);
            box-shadow: util.extrude(10);
            padding: 1em;
            font-size: 18px;
            margin: 1rem auto;
            width: 75%;
            h1 {
                margin: 1rem 0;
            }
        }
        .grid {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            padding: 0 3rem;
            margin: 0 auto;
            width: 75%;
            li {
                display: block;
                background-color: var(--article-color);
                border: 2px solid var(--emphasis-color);
                box-shadow: util.extrude(8);
                padding: 0;
                margin: 0;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    h3, p {
                        margin: 0.5rem 1rem;
                        color: var(--emphasis-color);
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 16 / 9;
                    }
                }
            }
        }
    }
</style>