---
import { SEO, type Meta, type TwitterCardType } from "astro-seo";

import { version } from "../../package.json";

import SiteNav from "@lib/components/SiteNav.svelte";
import Settings from '@lib/components/Settings.svelte';
import '../styles/global.scss';

type OpenGraph = {
	type: string,
	keywords?: string[],
	article?: {
		pubDate: Date,
		updatedDate?: Date
		category: string,
		tags: string[]
	}
}

export interface Props {
	title: string,
	coverImage?: string,
	description?: string,
	keywords?: string[],
	twitterCard?: TwitterCardType,
	openGraph?: Partial<OpenGraph>
}

const defaultOpenGraph = {
	type: "website",
	keywords: [] as string[],
	article: undefined
}

const { 
	title, 
	description = "Welcome to my blog.", 
	openGraph = defaultOpenGraph, 
	twitterCard = "summary", 
	coverImage = `${Astro.url.protocol}//${Astro.url.host}/img/seo/generic.png`, 
	keywords = openGraph.article?.tags ?? defaultOpenGraph.keywords 
} = Astro.props;

const extendedMeta: Partial<Meta>[] = [];
if(keywords.length > 0) {
	extendedMeta.push({name: "keywords", content: keywords.join(", ")})
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<SEO
			{title}
			titleTemplate="%s | The Yonic Corner"
			{description}
			openGraph={{
				basic: {
					title: `${title} | The Yonic Corner`,
					type: openGraph.type ?? defaultOpenGraph.type,
					image: coverImage
				},
				article: openGraph.article,
				optional: {
					description,
					siteName: "The Yonic Corner"
				}
			}}
			twitter={{
				card: twitterCard,
				creator: "@Yonikkun",
				site: "@Yonikkun",
				image: coverImage,
				description
			}}
			extend={{
				link: [
					{ rel: "icon", type:"image/svg+xml", href: "/favicon.svg"},
					{ rel: "icon", type:"image/x-icon", href: "/favicon.ico"},
					{ rel: "icon", type:"image/png", sizes: "16x16" as unknown as DOMTokenList, href: "/favicon-16x16.png"},
					{ rel: "icon", type:"image/png", sizes: "32x32" as unknown as DOMTokenList, href: "/favicon-32x32.png"},
					{ rel: "shortcut icon", href: "/favicon.ico"},
					{ rel: "alternate", type: "application/rss+xml", title:"The Yonic Corner", href: "/atom/feed.xml"}
				],
				meta: [
					{ name: "viewport", content: "width=device-width, initial-scale=1.0"},
					{ name: "generator", content: Astro.generator},
					{ name: "theme-color", content: "#92F3ED"},
					...extendedMeta
				]
			}}
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,650;1,400;1,650&family=Blinker:wght@600&family=Bungee&family=Fira+Code&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,650;1,400;1,650&family=Blinker:wght@600&family=Bungee&family=Fira+Code&display=swap"></noscript>
	</head>
	<body>
		<SiteNav client:idle />
		<slot />
		<Settings client:only="svelte" />
		<footer>
			<div class="horizontal">
				<div class="bolts"></div>
			</div>
			<div class="content">
				<p style="margin: 0.3rem 0">
					<a href="https://github.com/YonicDev/yonic-corner" target="_blank" rel="noopener" rel="noreferrer">Source code</a> |
					<a href="/atom/feed.xml">Subscribe to feed (Atom)</a> |
					<a href="http://legacy.yonic.blog/">Legacy version (for old browsers)</a>
				</p>
				<p>The Yonic Corner v{version}. All wrongs reserved.</p>
				<p><a class="badge" href="https://astro.build"><img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20"></a> Using own Vectarcade theme.</p>
			</div>
		</footer>
	</body>
	<slot name="feed-writer" />
</html>

<style lang="scss">
	@use "../styles/vars.scss" as *;
	footer {
		position: relative;
		bottom: 0;
		width: 100%;
		background-color: $emphasis-color;
		text-align: center;
		.horizontal {
			background-color: $nav-color-dark;
			height: 30px;
			display: flex;
			align-items: center;
			.bolts {
				background-image: url("/img/bolt.svg");
				background-size: 8px;
				height: 16px;
				flex-grow: 1;
			}
		}
		.content {
			color: $article-color;
			p {
				margin: 0;
				padding: 0.333em 0;
			}
			a {
				color: $base-color;
			}
		}
		.badge {
			vertical-align: middle;
		}
	}
</style>